<form action="/urlShortener" method="post">
  <label for="OriginalUrl">Original URL: </label>
  <input type="text" name="OriginalUrl" id="OriginalUrl" placeholder="enter your url here">
  <button type="submit">Submit</button>
  <label for="shortenerUrl">Your shortener URL: </label>
  <input type="text" name="shortenerUrl" id="shortenerUrl" disabled>
</form>