.container {
  height: 100vh;
}

body{
  background-color: rgb(245, 241, 194);
}

h1{
  font-weight: 800;
}

h3{
  font-weight: 600;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: rgb(0, 255, 157);
}