body{
  background-color: #FAFAFC;
}

img{
  display: block;
  width: 150px;
  height: 150px;
  margin: 30px auto 0;
}

.input-group-text {
  width: 120px;
  background-color: #FFF3CD;
}

.btn {
  width: 80px;
}

#shortenerUrl {
  background-color: white;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#more-btn, #back-btn{
  color: black;
  text-decoration: none;
}

#more-btn:hover, #back-btn:hover {
  color: white;
}

.input-group label, 
.input-group button{
  font-weight: 600;
}
